@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

main {
    width: 90%;
    height: auto;
    float: center;
    /* border: solid red; */
    position: absolute;
    margin: auto;
    text-align: center;
     font-family: 'PT Sans', sans-serif; 
    background-color: white;
    color: black;

/*    width: 880px;
    height: 1100px;*/
     /* border: solid red;  */
}

div {
    padding: 10px;
    margin: 15px 0px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    align-items: center;
	justify-content: flex-end;
     float: center; 
}


/*img {
    width: 400px;*/

.copy{
    display: flex;
	flex-direction: column;
    float:left;
    width: 500px;
    padding: 5px;
     /* border: solid salmon;  */
}
.img_box {
    float: left;
    width: 500px;
    padding: 5px;
    /* border: solid salmon; */
}

@media all and (max-width: 1000px) {
    .copy{
        width: 100%;
    }
    .img_box{
        width: 100%;
        padding: 10%;
    }
    div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.img_yoga {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.img_yoga:hover {
    opacity: 0.8;
}
h1 {
    font-size: 2em;
}

h4 {
    font-size: 0.9em;
}

button {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    /* border-style: none; */
    margin: 15px;
    padding: 10px 10px;
}

button:hover {
    color: #9f6544;
    background: ivory;
}

button:visited {
    color:blueviolet
}