@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

main {
    width: 90%;
    height: auto;
    display: fixed;
    float: center;
    /* border: solid red; */
    position: absolute;
    margin: auto;
    text-align: center;
    /* font-family: 'PT Sans', sans-serif; */
    background-color: white;
    color: black;
}

div {
    padding: 10px;
    margin: 15px 0px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
    /* float: center; */
}
.copy{
    display: flex;
	flex-direction: column;
    width: 500px;
    padding: 50px;
    /* border: solid salmon; */
}
.img_box {
    float: left;
    width: 500px;
    padding: 5px;
    /* border: solid salmon; */
}

@media all and (max-width: 1000px) {
    .copy{
        width: 100%;
    }
    .img_box{
        width: 100%;
        padding: 10%;
    }
    div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.img_yoga {
    width: 100%;
    height: auto;
}
.img_yoga:hover {
    opacity: 0.8;
}
h1 {
    font-size: 2em;
}

h4 {
    font-size: 0.9em;
}

button {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    /* border-style: none; */
    margin: 15px;
    padding: 10px 10px;
}

button:hover {
    color: #9f6544;
    background: ivory;
}

button:visited {
    color:blueviolet
}