@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

main {
    /* border: 2px black solid; */
    width: 100%;
    padding: 20px;
    height: auto;
    float: center;
    /* border: solid red; */
    position: absolute;
    margin: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /* background-color: white; */
    color: black;
}

.img_membership {
    width: 250px;
    border-radius: 10px;
}

.container {
    border: 2px green solid;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.top {
    border: 2px red solid;
    width: 100%;
    padding: 5px;
    /* height: 800px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.part1, .part2, .part3 {
    border: 1px blue dotted;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bottom {
    border: 2px blue solid;
    padding: 30px 60px 60px;
    width: 100%;
    text-align: left;
}
h2 {
    margin: 15px;
}
p {

}