@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

main {
    /* border: 2px black solid; */
    width: 100%;
    padding: 20px;
    height: auto;
    float: center;
    /* border: solid red; */
    position: absolute;
    margin: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /* background-color: white; */
    color: black;
}

.img_membership {
    width: 400px;
    border-radius: 10px;
}

.container {
    /* border: 2px green solid; */
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.top {
    /* border: 2px red solid; */
    width: 100%;
    padding: 5px;
    /* height: 800px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.part1, .part2, .part3 {
    margin: 10px 15px;
    /* border: 1px blue dotted; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.bottom {
    /* border: 2px blue solid; */
    padding: 30px 60px 60px;
    width: 100%;
    text-align: left;
}
h2 {
    font-size: 1.5em;
    margin: 15px;
}
h3 {
    font-size: 1.3em;
    margin: 20px;
}
p {
    font-size: 0.9em;
}

button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    background-color: #cfad99;
    border: 2px #cfad99 solid;
    color: #fff;
    text-align: center;
    /* border-style: none; */
    margin: 15px;
    padding: 10px 35px;
}

button:hover {
    color: #9f6544;
    background: ivory;
}

button:visited {
    color:blueviolet
}

@media all and (max-width: 1280px) {
    .img_membership {
        width: 300px;
    }
    button {
        font-size: 0.8em;
        margin: 10px;
        padding: 10px 20px;
    }
}
@media all and (max-width: 600px) {
    .top {
        flex-direction: column;
    }
}